<!DOCTYPE html>
<html>
<head>
    <title>Survey Page {{ page }}</title>
</head>
<body>
    <h1>Survey Page {{ page }}</h1>
    <form method="post">
        {% csrf_token %}
        {% for question in questions %}
            <fieldset>
                <legend>{{ question.text }}</legend>
                {% for option in question.options.all %}
                    <label>
                        <input type="radio" name="{{ question.id }}" value="{{ option.id }}">
                        {{ option.text }}
                    </label>
                {% endfor %}
            </fieldset>
        {% endfor %}
        <button type="submit">Next</button>
    </form>
</body>
</html>
